/*Blog content type*/

/*Remove duplicate keyline*/
.view-localgov-blog-list .view-content {
  border-top: 0;
}

/*Blog Featured item 1*/
.field--name-localgov-blog-channel-featured > .field__items > .field__item:first-of-type {
  padding: var(--spacing-largest);
}

/*Blog Featured item 1 content*/
.field--name-localgov-blog-channel-featured
  > .field__items
  > .field__item:first-of-type
  .lgd-teaser__content--localgov-blog-post {
  margin-right: var(--spacing-largest);
}

/*Blog Featured item 1 picture*/
.field__item picture {
  margin-bottom: 0;
}

.field--name-localgov-blog-channel-featured .lgd-teaser__content--localgov-blog-post {
  margin-right: var(--spacing-largest);
}

