/*Directory content type*/

/*Improve directory layout, multiple nested padding classes, could be fixed in twig*/
.full--localgov-directory .lgd-container.padding-horizontal {
  padding: 0;
}

/*Improve directory layout, add horizontal padding around search*/
.page-node-type-localgov-directory .lgd-region.lgd-region--sidebar-first {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

/*Spacing and divider on directory listings*/
.lgd-teaser--localgov-directories-venue,
.lgd-teaser--localgov-directories-page,
.lgd-teaser--localgov-directory-promo-page {
  flex-direction: column;
  margin: var(--spacing-larger) 0;
  padding: 0 0 var(--spacing) 0;
  border-bottom: 1px solid #dddddd;
}

/*Directory listing heading*/
.lgd-teaser--localgov-directories-venue h3,
.lgd-teaser--localgov-directories-page h3,
.lgd-teaser--localgov-directory-promo-page h3 {
  margin-bottom: var(--spacing);
}

/*Directory promo page listing fix margin*/
.lgd-teaser__image + .lgd-teaser__content {
  margin-left: 0;
}

/*Directory promo page listing fix banner*/
.lgd-teaser__image {
  flex-shrink: unset;
  width: 100%;
}

/*Directory search heading*/
.page-node-type-localgov-directory .sidebar .views-exposed-form label {
  font-weight: bold;
  font-size: var(--font-size-h2);
}

/*Directory venue, page, and promo page content wrapper*/
.page-node-type-localgov-directories-venue fieldset,
.page-node-type-localgov-directories-page fieldset,
.page-node-type-localgov-directory-promo-page fieldset {
  padding: 0 0 var(--spacing-larger) 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

/*Directory venue, page, and promo page content headings*/
.page-node-type-localgov-directories-venue .fieldset-legend,
.page-node-type-localgov-directories-venue legend,
.page-node-type-localgov-directories-page .fieldset-legend,
.page-node-type-localgov-directories-page legend,
.page-node-type-localgov-directory-promo-page .fieldset-legend,
.page-node-type-localgov-directory-promo-page legend {
  font-size: var(--font-size-h2);
  padding: var(--spacing) 0;
}

.full .field--name-localgov-directory-standfirst {
  max-width: var(--width-restricted-width-section);
  margin-bottom: var(--spacing-larger);
}
