/*Library not loading on all servers, there is a duplicate of this CSS in base.css as a fallback */
#sliding-popup.sliding-popup-top .cookies-notice .eu-cookie-compliance-buttons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 15px 0;
    min-width: 260px;
    align-self: flex-start;
  }
  
  #sliding-popup.sliding-popup-top .cookies-notice .eu-cookie-compliance-buttons i {
    color: var(--color-white);
  }
  
  @media (width > 768px) {
    #sliding-popup.sliding-popup-top .popup-content .row {
        flex-direction: row;
        align-items: center;
    }
  
    #sliding-popup.sliding-popup-top .cookies-notice .eu-cookie-compliance-message {
        flex-direction: row;
        align-items: center;
    }
  
    #sliding-popup.sliding-popup-top .cookies-notice .eu-cookie-compliance-buttons {
        align-self: flex-end;
    }
  }
  
  #sliding-popup.sliding-popup-top .cookies-notice p:not(.h3) {
    margin: 0;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
  }
  
  #sliding-popup.sliding-popup-top .cookies-notice a {
    font-size: 1rem;
    color: var(--color-white);
  }
  
  #sliding-popup.sliding-popup-top .cookies-notice a:focus {
    color: var(--color-black);
  }
  
  #sliding-popup.sliding-popup-top .cookies-notice .d-none {
    display: none !important;
  }
  
  @media (width > 992px) {
    .cookies-notice .d-lg-block {
        display: block !important;
    }
  }
  