/*Events content types*/

/*Marging above add to calendar*/
.localgov-add-to-calendar:has(+ *) {
  margin-top: var(--vertical-rhythm-spacing);
}

/*Position relative on taxonomy wrappers*/
.field--name-localgov-event-locality,
.field--name-localgov-event-price,
.field--name-localgov-event-provider {
  padding-left: var(--spacing-larger);
  position: relative;
}


/*Icons on taxonomy wrappers - Categories*/
.field--name-localgov-event-categories .field__item {
  position: relative;
}

/*Icons on taxonomy wrappers - Categories*/
.field--name-localgov-event-categories .field__item:before {
  content: var(--tags-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
  font-size: var(--font-size-medium);
  margin-right: var(--spacing-smaller);
}

/*Icons on taxonomy wrappers - Locality*/
.field--name-localgov-event-locality:before {
  content: var(--map-location-dot-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
  font-size: var(--font-size-medium);
  position: absolute;
  left: 0;
}

/*Icons on taxonomy wrappers - Provider*/
.field--name-localgov-event-provider:before {
  content: var(--location-dot-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
  font-size: var(--font-size-medium);
  position: absolute;
  left: 0;
}

/*Icons on taxonomy wrappers - Price*/
.field--name-localgov-event-price:before {
  content: var(--sterling-sign-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
  font-size: var(--font-size-medium);
  position: absolute;
  left: 0;
}

/*Icons on taxonomy wrappers - Categories*/
.field--name-localgov-event-venue:before {
  content: var(--location-dot-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
  font-size: var(--font-size-medium);
  position: absolute;
  left: 0;
}
