.region-microsites-footer a {
  color: var(--color-footer-link);
}

@media screen and (width <= 768px) {
  .microsite-footer .lgd-row__one-quarter {
    width: 100%;
  }
}

.microsite-footer__housekeeping ul:not(.contextual-links) {
  padding: 0;
}

footer p,
footer ul {
  font-size: 1rem;
}

.region-microsites-footer a:focus {
  color: var(--color-black);
}