/* Flex layout search in pre header */
.block-localgov-sitewide-search-block form {
  padding: 0 var(--spacing) 0 0;
  display: flex;
}

/* Remove margin under search in pre header */
.block-localgov-sitewide-search-block form .form-item {
  margin-bottom: 0;
}

/* Hide label of search in pre header */
.block-localgov-sitewide-search-block label {
  display: none;
}

/* Style input search in pre header */
.block-localgov-sitewide-search-block input.form-text {
  width: auto;
  height: 45px;
  color: var(--color-black);
  font-size: 1.125rem;
  outline: none;
  border: 0;
}

/* Max width input search in pre header on desktop */
@media screen and (min-width: 768px) {
  .block-localgov-sitewide-search-block input.form-text {
    max-width: 250px;
  }
}

/* Prepare wrapper for search icon in pre header */
.block-localgov-sitewide-search-block .form-wrapper {
  position: relative;
}

/* Search icon in pre header */
.block-localgov-sitewide-search-block .form-wrapper:after {
  position: absolute;
  top: 9px;
  left: 12px;
  content: var(--search);
  pointer-events: none;
  color: var(--color-white);
  font-family: var(--font-fa-pro);
  font-size: 1.175rem;
  font-weight: 400;
}

/* Search submit button in pre header */
.block-localgov-sitewide-search-block .form-wrapper input.button {
  width: 45px;
  height: 45px;
  padding: 0;
  color: transparent;
  outline: 0;
  border: none;
  background: var(--color-black);
}

/* Search submit button hover triggered by it's wrapper, in pre header */
.block-localgov-sitewide-search-block .form-wrapper:hover:not(:focus) input {
  background: var(--color-white);
}

/* Search submit button hover in pre header */
.block-localgov-sitewide-search-block .form-wrapper input.button:not(:focus):hover {
  background: var(--color-black);
  color: transparent;
  border: 3px solid var(--color-white);
}

/* Search submit button icon hover triggered by it's wrapper, in pre header */
.block-localgov-sitewide-search-block .form-wrapper:hover:not(:focus)::after {
  color: var(--color-white);
}

/* Search submit button focus in pre header */
.block-localgov-sitewide-search-block input.button:focus,
.block-localgov-sitewide-search-block input.button:active,
.block-localgov-sitewide-search-block input.button:focus:hover {
  background: var(--color-black);
  outline: 3px solid var(--color-focus);
}

/* Search placeholder in pre header */
.block-localgov-sitewide-search-block input::placeholder {
  color: var(--placeholder);
}