.path-frontpage .lgd-page-section--has-bg-colour .featured-teaser a {
  color: var(--color-link);
}
.path-frontpage .layout__region .paragraph--type--localgov-featured-teasers {
  margin-top: 40px;
  margin-bottom: 40px;
}
.path-frontpage .link--button-style {
  display: flex;
  width: 100%;
}
.path-frontpage .link--button-style .link-wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: var(--text-input-font-family);
  font-size: var(--font-size-medium);
  font-weight: 700;
}
.path-frontpage .link--button-style .link-wrapper .link-content a {
  display: inline-block;
  padding: 15px;
}
.path-frontpage .link--button-style .link-wrapper .link-icon {
  display: none;
}

@media screen and (width >= 768px) {
  .path-frontpage .view-display-id-latest_news .view-content {
    display: flex;
    gap: 0 var(--spacing-larger);
  }
}

@media screen and (width >= 768px) {
  .path-frontpage .view-display-id-latest_news .view-content .views-row {
    flex: 1 1 calc(calc(100% / 3) - var(--spacing-larger) * 3);
    border-bottom: 0;
  }
}
.path-frontpage .view-display-id-latest_news .view-content .views-row .lgd-teaser {
  display: inline-block;
}
.path-frontpage .view-display-id-latest_news .view-content .views-row .lgd-teaser a {
  text-decoration: none;
  color: var(--black);
}
.path-frontpage .view-display-id-latest_news .view-content .views-row .lgd-teaser .field--name-localgov-news-date {
  color: var(--color-dark-grey);
  font-weight: 700;
}
.path-frontpage .view-display-id-latest_news .view-content .views-row .lgd-teaser .lgd-teaser__image {
  width: 100%;
}
.path-frontpage .view-display-id-latest_news .lgd-teaser__content--localgov-news-article {
  margin-left: 0;
  padding-top: 20px;
}
.path-frontpage .full__layout-section .field--name-localgov-paragraph-content > .field__item {
  padding: 45px 0;
}
.path-frontpage .banner__content .field--name-localgov-title {
  margin-top: 20px;
}
.path-frontpage .paragraph--type--localgov-page-section .paragraph--type--localgov-text .field--name-localgov-text ul {
  margin: 0;
  padding: 0 0 0 15px;
}

.path-frontpage .full__layout-section > .field--name-localgov-paragraph-content > .field__item {
  padding: 0;
}

.path-frontpage .lgd-page-section--bg-colour-3 {
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.path-frontpage .layout--onecol__flexible > .layout__region--content {
  padding-top: 40px;
}

@media screen and (max-width: 1024px) {
  .path-frontpage .layout--onecol__flexible > .layout__region--content {
    justify-content: center;
  }
}
