/*Main menu with responsive support*/
/* the .js identifier applies styling to elements in both desktop and mobile*/
/* .lgd-region--main-menu can bu used to target desktop only*/
/* .off-canvas can bu used to target mobile only*/

/*Wrapper for main menu*/
.lgd-region--main-menu {
    display: flex;
}

/*Inner wrapper for main menu*/
.lgd-region--main-menu .menu {
    padding-left: 0;
}

/*Make inner menu wrapper full width*/
.lgd-region--main-menu .padding-horizontal {
    max-width: inherit;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

/*Main menu items align bottom when multi line*/
.microsite-header__menu .menu--menu-level-0 {
    align-items: flex-end;
}

/*Main menu links*/
.js .menu li a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    box-shadow: none;
}

/*Main menu links hover*/
.js .menu li a:hover {
    color: var(--header-link-color);
    text-decoration: underline;
}

/*Main menu links focus*/
.js .menu li a:focus,
.js .menu li:focus a {
    background-color: var(--color-focus);
    color: var(--color-black);
    text-decoration: none;
}

/* Sub menu wrapper hidden by default all screen sizes*/
.js .menu li .menu {
    display: none;
}

/*Child page ul links wrapper as flyout on Desktop */
.lgd-region--main-menu .menu li .menu {
    position: absolute;
    z-index: 999;
    min-width: var(--menu-sub-menu-min-width);
    font-size: var(--menu-sub-menu-font-size);
    box-shadow:
        0px 3px 4px 0px rgba(0, 0, 0, 0.2),
        0 4px var(--header-background-color);
}

/*Child page links in flyout and sub mobile menu*/
.js .menu li .menu li a {
    font-weight: 400;
    text-decoration: none;
}

/*Child page links hover in flyout and sub mobile menu*/
.js .menu li .menu li a:hover {
    text-decoration: underline;
}

/*Main menu active tab background*/
.js .menu-item--active-trail,
.js .menu-item--active-trail .menu {
    background-color: var(--header-link-color);
}

/*Main menu active tab link colour*/
.js .menu-item--active-trail a {
    color: var(--header-background-color);
}

/*Main menu active tab link hover */
.js .menu .menu-item--active-trail:hover a {
    color: var(--header-background-color);
}

/*Main menu active tab link focus */
.js .menu .menu-item--active-trail a:focus {
    color: var(--color-black);
    text-decoration: none;
}

/*Hide origial toggle span - causes gap*/
.js .menu__sub-menu-toggle-icon {
    display: none;
}

/*Wrapper for toggle button for the sub-menu*/
.js .menu__sub-menu-toggle {
    display: inline;
    background: none;
    padding: 0;
    margin: 0 8px 0 0;
    height: 100%;
    border: 0;
    width: var(--menu-sub-menu-toggle-width);
    justify-content: center;
}

/*Toggle button for the sub-menu*/
.js .menu__sub-menu-toggle:after {
    color: var(--header-link-color);
    content: var(--chevron-down);
    pointer-events: none;
    font-family: var(--font-fa-pro);
    font-size: 1rem;
    background: none;
}

/*Toggle button in active trail*/
.js .menu .menu-item--active-trail .menu__sub-menu-toggle:after {
    color: var(--header-background-color);
}

/*Toggle button focus style*/
.js .menu__sub-menu-toggle:focus,
.js .menu__sub-menu-toggle:focus:after,
.js .menu__sub-menu-toggle:focus:after,
.js .menu__sub-menu-toggle:focus-visible:after {
    background-color: var(--color-focus);
    color: var(--color-black);
    border: 0;
    outline: none;
    box-shadow: none;
}

/*Toggle button rotation when expanded*/
.js .menu__sub-menu-toggle[aria-expanded="true"]:after {
    content: var(--chevron-up);
    font-family: var(--font-fa-pro);
}

/*Expanded mobile menu below here*/
/*Using .off-canvas as a class prefix will apply these styles to the mobile menu only, without the need for a breakpoint*/
/*Wrapper for mobile menu, hide on desktop*/

/*Mobile menu set link colour to same as desktop*/
.off-canvas a {
    color: var(--header-link-color);
}

/*Remove unwanted padding from mobile menu*/
.off-canvas .menu {
    margin: 0px 0 25px 0;
    padding: 0;
}

/*Sub menu in the flow not absolute*/
.off-canvas .menu .menu {
    position: relative;
    padding: 0;
    margin: 0;
}

/*Dividing lines between main meny items*/
.off-canvas .menu .menu-item {
    border-bottom: 1px solid var(--header-link-color);
}

/*Make elements inside off canvas full width*/
.off-canvas .lgd-region__inner--off-canvas {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing) 0;
}

/*Hide additional close button*/
.off-canvas__close {
    display: none;
}

/* Flex layout search in pre header and off canvas */
.block-localgov-search form {
    padding: 0;
    display: flex;
}

/* Remove margin under search in pre header and off canvas and off canvas */
.block-localgov-search form .form-item {
    margin-bottom: 0;
}

/* Hide label of search in pre header and off canvas (SHOULD BE MADE sr-only) */
.microsite-header__pre-header .lgd-region--search form label,
.block-localgov-search label {
    display: none;
}

/* Style input search in pre header and off canvas */
.block-localgov-search input.form-text {
    height: 45px;
    color: var(--color-black);
    font-size: 1.125rem;
    border: 0;
}

/* Max width input search in pre header only */
@media screen and (min-width: 768px) {
    .microsite-header__pre-header .block-localgov-search input.form-text {
        max-width: 250px;
    }
}

/* Prepare wrapper for search icon in search in pre header and off canvas */
.block-localgov-search .form-wrapper {
    position: relative;
}

/* Search icon in pre header and off canvas */
.block-localgov-search .form-wrapper:after {
    position: absolute;
    top: 9px;
    left: 12px;
    content: var(--search);
    pointer-events: none;
    color: var(--color-white);
    font-family: var(--font-fa-pro);
    font-size: 1.175rem;
    font-weight: 400;
}

/* Search submit button in pre header and off canvas */
.block-localgov-search .form-wrapper input.button {
    width: 45px;
    height: 45px;
    padding: 0;
    color: transparent;
    outline: 0;
    border: none;
    background: var(--color-black);
}

/* Search submit button hover triggered by it's wrapper, in pre header and off canvas */
.block-localgov-search .form-wrapper:hover:not(:focus) input {
    background: var(--color-white);
}

/* Search submit button hover in pre header and off canvas */
.block-localgov-search .form-wrapper input.button:not(:focus):hover {
    background: var(--color-black);
    color: transparent;
    border: 3px solid var(--color-white);
}

/* Search submit button icon hover triggered by it's wrapper, in pre header and off canvas */
.block-localgov-search .form-wrapper:hover:not(:focus)::after {
    color: var(--color-white);
}

/* Search submit button focus in pre header and off canvas */
.block-localgov-search input.button:focus,
.block-localgov-search input.button:active,
.block-localgov-search input.button:focus:hover {
    background: var(--color-black);
    outline: 3px solid var(--color-focus);
}

/* Search placeholder in pre header and off canvas */
.block-localgov-search input::placeholder {
    color: var(--placeholder);
}

/*Remove unwanted padding from search form*/
.off-canvas form {
    padding: 0;
}

/*Search full width*/
.off-canvas .js-form-item {
    flex-basis: 100%;
}
