/*Service cta buttons to use microsite design setting colours*/

.service-cta-block__list {
    padding: var(--spacing) 0;
}

.service-cta-block__link {
    font-weight: var(--heading-font-weight);
}

.service-cta-block__link--cta-action {
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
}

.service-cta-block__link--cta-action:hover {
    background-color: var(--color-accent-2);
    color: var(--color-accent-2-contrast);
    text-decoration: none;
}

.service-cta-block__link--cta-info {
    background-color: var(--color-accent-2);
    color: var(--color-accent-2-contrast);
}

.service-cta-block__link--cta-info:hover {
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
    text-decoration: none;
}

.service-cta-block__link:focus .service-cta-block__link-icon svg path {
    fill: var(--color-black);
    text-decoration: none;
}
