 /* Looks like sidebar sub menu - needs sorting*/


.in-this-section {
  padding: 20px;
  background-color: var(--color-grey);
}

.in-this-section .menu__sub-menu-toggle {
  display: none;
}
.in-this-section ul {
  list-style: none;
}
.in-this-section ul ul,
.in-this-section ul ul ul {
  padding: 0;
}
.in-this-section ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-black);
  border-left: 3px solid var(--color-white);
}
.in-this-section ul li a:hover,
.in-this-section ul li a:focus {
  text-decoration: underline;
  font-weight: 700;
}
.in-this-section ul li a.is-active {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-left: 3px solid var(--color-blue);
  background-color: var(--color-white);
}