.alert {
  position: relative;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-largest) var(--spacing-small) 2.75rem !important;
  border: 0.1875rem solid transparent !important;
  background-color: var(--color-white) !important;
  font-size: 19px;
  font-weight: 700;
}

.alert:before {
  position: absolute;
  left: 1rem;
  font-family: var(--font-fa-free);
  font-weight: 900;
}

.alert-primary {
  color: var(--color-primary);
  border-color: var(--color-primary) !important;
}

.alert-warning {
  color: var(--color-orange);
  border-color: var(--color-orange) !important;
}

.alert-warning:before {
  content: var(--alert-warning);
  font-family: var(--font-fa-free);
  font-weight: 900;
}

.alert-info {
  color: var(--color-black);
  border-color: var(--color-black) !important;
}

.alert-info:before {
  left: 1.3rem;
  content: var(--alert-info);
  font-family: var(--font-fa-free);
  font-weight: 900;
}

.alert-success {
  color: var(--color-green);
  border-color: var(--color-green) !important;
}

.alert-success:before {
  content: var(--alert-success);
  font-family: var(--font-fa-free);
  font-weight: 900;
}

.alert-fail,
.alert-danger {
  color: var(--color-red);
  border-color: var(--color-red) !important;
}

.alert-fail:before,
.alert-danger:before {
  content: var(--alert-fail);
  font-family: var(--font-fa-free);
  font-weight: 900;
}

.alert-primary:before,
.alert-danger:before {
  content: var(--alert-primary);
}


blockquote {
  display: flex;
  align-items: flex-start;
  border-left: 0;
  margin: 0 0 var(--spacing) 0;
  padding: var(--spacing-large) var(--spacing) var(--spacing-smaller) 1.5rem;
  background: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-grey);
}

blockquote p {
  width: 100%;
  color: var(--color-black);
}

blockquote strong {
  color: var(--color-accent);
  margin-top: var(--spacing-smaller);
  display: block;
}

blockquote:before {
  display: flex;
  padding: 0;
  font-size: 40px;
  color: var(--color-accent);
  margin: -10px 30px 0 0;
  content: var(--quote-left-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
}
blockquote:after {
  display: flex;
  padding: 0;
  font-size: 20px;
  color: var(--color-accent);
  margin: 0 0 0 20px;
  content: var(--quote-right-icon);
  font-family: var(--font-fa-free);
  font-weight: 900;
}

/*Start button icon*/
a.btn.btn-start {
  margin-top: var(--spacing);
  border: none;
  font-weight: 700;
}

/*Start button focus*/
a.btn.btn-start:focus {
  background-color: var(--color-focus);
  color: var(--color-black);
}

/*Start button icon*/
.btn.btn-start::after {
  position: relative;
  font-family: var(--font-fa-free);
}

/*Tick list*/
.list-checked {
  padding-left: 22px;
}

/*Tick list item*/
.list-checked li {
  padding-left: 12px;
}

/*Tick list ticks*/
.list-checked li::marker {
  content: "\f00c";
  font-family: var(--font-fa-free);
  color: var(--color-green);
}

/*Video full width*/
.media-oembed-content {
  max-width: 100%;
  width: 100%;
  height: 50vh;
}

/*Image space under*/
.field__item picture {
  display: block;
  margin-bottom: var(--spacing-larger);
  line-height: 0; /*fixes rogue br inside picture element*/
}


/*Buttons*/
button,
input[type="submit"] {
  font-weight: 700;
  background-color: var(--color-accent);
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--color-accent-darken);
}

button:focus,
input[type="submit"]:focus {
  background-color: var(--color-focus);
  color: var(--color-black);
  box-shadow: inset 0 -4px var(--color-black);
}

button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: none;
}

/*Start buttons on white page*/
.btn.btn-start {
  color: var(--btn-start-color);
  background-color: var(--color-accent);
}
.btn.btn-start:hover {
  color: var(--btn-start-color);
  background-color: var(--color-accent-2);
}

/*Start buttons on accent 1 background*/
.lgd-page-section--bg-colour-1 .btn.btn-start{
  background-color: var(--color-accent-2);
  
}
.lgd-page-section--bg-colour-1 .btn.btn-start:hover{
  color: var(--btn-start-color);
  background-color: var(--color-accent-2-darken);
  
}

/*Start buttons on accent 2 background*/
.lgd-page-section--bg-colour-2 .btn.btn-start{
  background-color: var(--color-accent);
}
.lgd-page-section--bg-colour-2 .btn.btn-start:hover{
color: var(--btn-start-color);
 background-color: var(--color-accent-darken);
}

/*External link icons on background*/
.lgd-page-section--bg-colour-1 .external-link:after,
.lgd-page-section--bg-colour-2 .external-link:after{
  background-color: var(--color-white);
}


/*All start button focus*/
.btn.btn-start:focus,
.lgd-page-section--bg-colour-1 .btn.btn-start:focus,
.lgd-page-section--bg-colour-2 .btn.btn-start:focus {
  color: var(--color-black);
  background-color: var(--color-focus);
}

.btn.btn-start.external-link:after {
  top: 0;
  right: 0;
  width: 0.7rem;
  height: 0.7rem;
  content: ""; /* remove default */
  color: var(--btn-start-external-link-icon-color);
  background-color: var(--btn-start-external-link-icon-color);
}
.btn.external-link:hover:after {
  background-color: var(--btn-start-external-link-icon-hover-color);
}

.inline-contact-details {
  border-left: 0.3125rem solid var(--color-accent-2);
  padding: 1.25rem 1.875rem;
  background: var(--color-white);
  color: var(--color-black);
}

.lgd-page-section--bg-colour-1 .inline-contact-details,
.lgd-page-section--bg-colour-1 .inset-text{
  border-left: 0.3125rem solid var(--color-accent-2);
}

.lgd-page-section--bg-colour-2 .inline-contact-details,
.lgd-page-section--bg-colour-2 .inset-text
{
  border-left: 0.3125rem solid var(--color-accent);
}

.inset-text {
  background-color: var(--color-white);
  border-left: 0.3125rem solid var(--color-accent);
  padding: 1.25rem 1.875rem;
  color: var(--color-black);
}

.inset-text a {
  color: var(--color-link);
}

.lgd-action-link {
  background-image: url(../templates/includes/icons/circle-arrow-right-success.svg);
  color: var(--color-link);
  display: inline-block;
  padding: 0.25rem 1rem 0.25rem 2.5rem;
  background-position: left 0.5rem;
  background-repeat: no-repeat;
  background-size: 1.875rem;
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration: underline;
}

.lgd-action-link:focus {
  color: var(--color-black);
}

.lgd-action-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
  text-decoration-thickness: 0.1875rem;
}

ul.list-ticked,ul.list-crossed {
  padding-left: 0;
}

ul.list-ticked li,ul.list-crossed li {
  background-position: left 0.125rem;
  background-repeat: no-repeat;
  background-size: var(--font-size);
  margin-left: 0 !important;
  padding-left: 2rem !important;
}

.list-checked li::marker {
  content: var(--alert-success);
  font-family: var(--font-fa-free);
  color: var(--color-green);
  display: block;
  font-weight: 900;
}
